spacy~=3.8.2
numpy~=1.26.4
pandas~=2.2.3
scikit-learn~=1.5.2
transformers~=4.46.2
huggingface_hub~=0.26.2
spacytextblob~=5.0.0
streamlit~=1.40.0
SpeechRecognition~=3.11.0
ollama~=0.3.3
gTTS~=2.5.4
tqdm~=4.67.0
torch~=2.5.1
torchvision~=0.20.1
torchaudio~=2.5.1
sentencepiece~=0.2.0
openai~=1.58.1
ipywidgets~=8.1.5
langchain~=0.3.13
langchain-core~=0.3.27
nltk~=3.9.1
gensim~=4.3.3
matplotlib~=3.9.2
pyLDAvis~=3.4.1
regex~=2024.11.6
crewai~=0.86.0
langchain-ollama~=0.2.2
ipython~=8.29.0
scipy~=1.13.1
chromadb~=0.5.23
langchain-community~=0.3.13
pydantic~=2.10.4
langgraph~=0.2.61
 wikipedia~=1.4.0